= render partial: "message"

.post_main
  .main_side
    %p.nickname
      = current_user.name
    %p.new-post
      = link_to new_message_path,class:"new-post" do
        投稿する
  .main_post
    - @message.each do |message|
      .posts
        .posts_left
          %p.psts_info_talker
            = "kiki"
          %p.posts_taxt 
            = message.content
        .posts_right
 