= render partial: "message"

.form
  = form_for @message do |f|
    .message
      .message-name
        %h2
          今日の出来事
        = render 'layouts/error_messages', model: f.object
      .message__image
        = f.label :image, class: 'message__image__box' do
          = f.file_field :image, class: 'message__image__file'
          = icon('fas', 'camera', class: 'icon')
      .message__text
        = f.text_area :content, class: 'message__text__area',placeholder: "何があったの？"
      .message__btn
        = f.submit "投稿",class: 'message__btn__box'